streamlit
pandas
numpy
requests
python-dotenv

groq
tavily-python

supabase

google-generativeai
google-genai

gspread
google-auth
google-auth-oauthlib

scikit-learn
scipy
statsmodels

matplotlib

beautifulsoup4
bs4

pyarrow
openpyxl

httpx
aiohttp

tiktoken
